@font-face {
    font-family: 'Titel';
    src: url('../fonts/radomir_tinkov_-_gilroy-bold-webfont.woff') format('woff'),
    url('../fonts/radomir_tinkov_-_gilroy-bold-webfont.woff2') format('woff2');
}

@font-face {
    font-family: 'Tekst';
    src: url('../fonts/museosans-300-webfont.woff') format('woff'),
    url('../fonts/museosans-300-webfont.woff2') format('woff2');
}

:root {
    --base--black: #202020;
    --base--grey-19: #4A4A4A;
    --base--grey-62: #AAAAAA;
    --base--grey-97: #F8F8F8;
    --base--white: #ffffff;

    --primary--yellow-accent: #E0B31E;
    --primary--orange-accent: #E09B44;
    --primary--blue-accent: #74C9C3;
    --primary--green-accent: #7ABA4A;
    
    --primary--yellow-background: #FCF7E8;
    --primary--orange-background: #FCF5EC;
    --primary--blue-background: #F1FAF9;
    --primary--green-background: #F2F8ED;
}


body {
    padding: 8px;
}

#logo {
    margin-top: 5px;
    margin-left: 5px;
    height: 15px; /* Adjust the height as needed */
}

#night {
    height: 25px;
}

hr {
    width: 50%; 
    size: 3em;
    color: black;
}

nav {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px; /* Voeg padding toe aan de zijkanten van de navbar */
}

h1 {
    font-family: 'Titel';
    font-size: 2em;
}

h2 {
    font-family: 'Titel';
}

p {
    font-family: 'Tekst';
}

.Title {
    margin-top: 3em;
    text-align: center;
    margin-bottom: 50px;
}

.procent {
    display: flex;
    font-family: Titel;
    color: #73C9C3;
}

.value {
    font-family: Titel;
    font-size: 2rem;
    color: #73C9C3;
    margin-right: 5px;
}

.mid {
    text-align: center;
}

.margintop {
    margin-top: 60px;
}

.box {
    transition: opacity 0.5s ease-in-out;
    width: 100%;
}

.eerste-alinea {
    margin-bottom: 3em;
}


/* M */

@media screen and (min-width: 768px) and (max-width: 1199px) {
  
}