/* Fonts */
@font-face {
    font-family: 'Titel';
    src: url('../fonts/radomir_tinkov_-_gilroy-bold-webfont.woff') format('woff'),
    url('../fonts/radomir_tinkov_-_gilroy-bold-webfont.woff2') format('woff2');
}

@font-face {
    font-family: 'Tekst';
    src: url('../fonts/museosans-300-webfont.woff') format('woff'),
    url('../fonts/museosans-300-webfont.woff2') format('woff2');
}

:root {
    /* Colors */
    --base--black: #202020;
    --base--grey-19: #4A4A4A;
    --base--grey-62: #AAAAAA;
    --base--grey-97: #F8F8F8;
    --base--white: #ffffff;

    --primary--yellow-accent: #E0B31E;
    --primary--orange-accent: #E09B44;
    --primary--blue-accent: #74C9C3;
    --primary--green-accent: #7ABA4A;
    
    --primary--yellow-background: #FCF7E8;
    --primary--orange-background: #FCF5EC;
    --primary--blue-background: #F1FAF9;
    --primary--green-background: #F2F8ED;

    /* Font */

    --p-font-size: 1.2em;
    --h1-font-size: 2.5em;
    --h2-font-size: 2em;
    --h3-font-size: 1.5em;
}

/* Navbar */
nav {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px; /* Voeg padding toe aan de zijkanten van de navbar */
}

body {
    padding: 25px;
}

/* Alinea's */
.overflow {
    display: flex;
    overflow: auto;
    white-space: nowrap;
}

.results {
    margin-bottom: 3em;
}

.box {
    transition: opacity 0.5s ease-in-out;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 30px;
}

hr {
    width: 50%; 
    size: 3em;
    color: var(--base--black);
}

.next-year {
    display: flex;
    text-align: center;
}

/* Text CSS */
h1 {
    font-family: 'Titel';
    font-size: 2.5em;
}

h2 {
    font-family: 'Titel';
    margin: auto;
    font-size: 2em;
}

h3 {
    font-family: 'Titel';
    font-size: 1.5em;
}

p {
    font-family: 'Tekst';
}

.Title {
    text-align: center;
    margin: auto;
    max-width: 80ch;
    margin-bottom: 5em;
}

.procent {
    display: flex;
    font-family: Titel;
    color: var(--primary--blue-accent);
}

.value {
    font-family: Titel;
    font-size: 2rem;
    color: var(--primary--blue-accent);
    margin-bottom: 20px;
}

.mid {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 35px;
}

.column {
    margin-top: 60px;
}

.content {
    margin-bottom: 60px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.flex {
    display: flex;
}

/* Images and SVG Files */
#logo {
    margin-top: 5px;
    margin-left: 5px;
    height: 15px; /* Adjust the height as needed */
}

.icon {
    height: 45px;
}

#text-icon {
    height: 45px;
}

#night {
    height: 25px;
}

.column-image {
    height: auto;
    width: 85vw;
    display: block;
    margin: 60px auto;
}


/* Tablet & Desktop Layout */

@media screen and (min-width: 768px) {
    .results{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3em;
    margin: 2em 0;
    margin-bottom: 10em;
    }

    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 5em;
    }

    p {
        font-size: var(--p-font-size);
    }
}

@media screen and (max-width: 768px) {
    .grid-our-work {
        display: grid;
        grid-template-columns: repeat(6, 300px);
        gap: 5em;
        overflow: scroll;
        overflow-y: hidden;
    }

    .grid-else {
        display: grid;
        grid-template-columns: repeat(5, 300px);
        gap: 5em;
        overflow: scroll;
        overflow-y: hidden;
    }

    .light::-webkit-scrollbar {
        width: 4px;
        border: 1px solid #d5d5d5;
        border-radius: 20px;
    }

.light::-webkit-scrollbar-track {
  border-radius: 20px;
  background: #eeeeee;
}

.light::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #202020;
}

/* Darkmode scroll */

.dark::-webkit-scrollbar {
    width: 4px;
    border: 1px solid #fff;
  border-radius: 20px;
}

.dark::-webkit-scrollbar-track {
    border-radius: 20px;
    background: #676767;
  }

.dark::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #ffffff;
  }

}

